{"host": "localhost", "database": "Echoleaf", "user": "admin", "password": "gAAAAABoRtlO241tkjc0tjQfuA_LyNGRpsygnc0Mmj9_d3OngqN2gIg_Ap8w5_SI9-7R3pbYGkRYJGBvH-V4wq6C-6goEgH9WA==", "sysadmin": "demo", "sysadminpassword": "gAAAAABoRtlO2D3qD_HGnWFXltL9g3JSyok_vdK8qIigL-OC4w4a3idlqsfES5WA6Y8QeDPcdlFjhv43KodiL9v_6fqHg0MiqQ=="}